.contest-container {
    width: 80%;
    margin: auto;
    text-align: center;
    max-height: 700px;
    padding-bottom: 20px;
}

.contest-title {
    position: absolute;
    font-size: 4rem;
    top: 25%;
    left: 25%;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 15px;
    text-transform: uppercase;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

.contest-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.contest-card {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    background-color: #fff;
}

.contest-card:hover {
    transform: scale(1.05);
}

.contest-card-title {
    margin-bottom: 10px;
    color: #007bff;
}

.contest-card-description {
    font-size: 14px;
    color: #555;
}

.contest-status {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
}

.contest-status-ongoing {
    background-color: #ffcc00;
    color: #333;
}

.contest-status-finished {
    background-color: #ff4d4d;
    color: white;
}

.contest-status-upcoming {
    background-color: #4caf50;
    color: white;
}

.contest-card-button {
    margin-top: 10px;
    padding: 8px 12px;
    border: none;
    background-color: #ff7700;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.contest-card-button:hover {
    background-color: #d35400;
}

.contest-pagination {
    margin-top: 20px;
}

.contest-pagination-button {
    margin: 0 10px;
    padding: 5px 10px;
    border: none;
    background-color: #ff7700;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.contest-pagination-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.contest-pagination-text {
    font-weight: bold;
}

.contest-card-readmore {
    cursor: pointer;
    color: #007bff;
}

.contest-card img {
    width: 100%;
    /* height: 180px; */
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    display: block;
}